.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  padding: 20px;
  height: 100vh;
  background-color: #171927d4;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.063);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar.light {
  background-color: #caf0ff;
}

.sidebar.light p {
  color: black;
}
.sidebar.light a {
  color: black;
}
.sidebar.light h1 {
  color: black;
}
.sidebar.light h2 {
  color: black;
}
.sidebar.light h3 {
  color: black;
}
.sidebar.light h4 {
  color: black;
}


#portfolioImage {
  border-radius: 50%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.titleContainer { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  opacity: 1;
  cursor: pointer;
}

.titleContainer:hover {
  opacity: .75;
}

@keyframes stageAppear {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes stageGrow {
  0% {
    width: 0;
    height: 0;
  }
  75% {
    width: 110%;
    height: 10px;
  }
  100% {
    width: 85%;
    height: 10px;
  }
}

.stage {
  visibility: hidden; /* Initially hide the .stage element */
  /* background-color: #ffffffe9; */
  background: linear-gradient(to bottom, white, grey);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 10px;
  height: 10px;
  max-height: 10px;
  width: 85%;
  opacity: 0;
  animation: stageAppear 0.5s forwards, stageGrow 1s forwards;
  animation-delay: 1s;
}


@keyframes openDropdownAnimation {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    height: 0;
  }
  to {
    opacity: 1;
    height: auto;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes closeDropdownAnimation {
  from {
    opacity: 1;
    height: auto;
    visibility: visible;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    height: 0;
  }
}
.menuTitle {
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.dropdown.open {
  animation: openDropdownAnimation .3s ease-in-out forwards;
}

.dropdown.closed {
  animation: closeDropdownAnimation .3s ease-in-out forwards;
}

.subtitleContainer {
  margin-bottom: 2rem;
}

.switchToggle {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  width: 200px;
  height: 34px;
  border-radius: 17px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switchToggle .toggleButton {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.switchToggle.on {
  background-color: #171927d4;
}

.switchToggle.on .toggleButton {
  background-color: #caf0ffd4;
  transform: translateX(165px);
}

.switchToggle.off {
  background-color: #caf0ffd4
}

.switchToggle.on span{
  color: #caf0ffd4;
}
.switchToggle.off span{
  color: #171927d4;
}

.switchToggle.off .toggleButton {
  background-color: #171927d4;
  transform: translateX(0);
}

.switchLabel {
  left: 40px;
  position: absolute;
}

.switchToggle.on .switchLabel {
  transform: translateX(-30px);
  transition: transform .3s;
}
.switchToggle.off .switchLabel {
  transform: translateX(0);
  transition: transform .3s;
}

@media (max-width: 900px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem;
    height: 3rem;
    background-color: #171927d4;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.063);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
    justify-content: space-between;
  }
  .titleContainer {
    margin-left: 1rem;
  }

}

/* start box animation */
.displayBlock {
  display: block;
}

.cursorPointer {
  cursor: pointer;
}

.overflowHidden {
  overflow: hidden;
}

.top10 {
  top: 10px;
}

.right24 {
  right: 24px;
}

.zIndex11000 {
  z-index: 11000;
}

.textAlignCenter {
  text-align: center;
}

.padding {
  padding: 12px 0 0;
}

.backgroundTransparent {
  background: transparent;
}

.borderRadius4 {
  border-radius: 4px;
}

.transition {
  transition: all 0.2s ease-in-out;
}

.width40 {
  width: 40px;
}

.height40 {
  height: 40px;
}

.boxShadow {
  box-shadow: inset 0 0 0 1px #ffffff;
}

.menuBox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 14px;
}

.menuInnerClosed {
  top: 50%;
  margin-top: -2px;
}

.menuInnerClosed,
.menuInnerClosed:before,
.menuInnerClosed:after {
  background-color: #ffffff;
  position: absolute;
  width: 20px;
  height: 2px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.menuInnerClosed {
  width: 16px;
  left: 2px;
}

.menuInnerClosed:before {
  content: '';
  top: -6px;
  left: -2px;
}

.menuInnerClosed:after {
  content: '';
  bottom: -6px;
  left: -2px;
}

.hover .menuInnerClosed,
.hover .menuInnerClosed:before,
.hover .menuInnerClosed:after {
  left: 0;
  width: 20px;
}

.menuInnerOpen1 {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -2px;
}

.menuInnerOpen1,
.menuInnerOpen1:before,
.menuInnerOpen1:after {
  background-color: #ffffff;
  position: absolute;
  width: 20px;
  height: 2px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.menuInnerOpen1 {
  width: 16px;
  left: 2px;
}

.menuInnerOpen1:before {
  top: -6px;
  left: -2px;
}

.menuInnerOpen1:after {
  bottom: -6px;
  left: -2px;
}

.hover .menuInnerOpen1,
.hover .menuInnerOpen1:before,
.hover .menuInnerOpen1:after {
  left: 0;
  width: 20px;
}

.menuInnerOpen2 {
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -2px;
}

.menuInnerOpen2,
.menuInnerOpen2:before,
.menuInnerOpen2:after {
  background-color: #ffffff;
  position: absolute;
  width: 20px;
  height: 2px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.menuInnerOpen2 {
  width: 16px;
  left: 2px;
}

.menuInnerOpen2:before {
  top: -6px;
  left: -2px;
}

.menuInnerOpen2:after {
  bottom: -6px;
  left: -2px;
}

.hover .menuInnerOpen2,
.hover .menuInnerOpen2:before,
.hover .menuInnerOpen2:after {
  left: 0;
  width: 20px;
}

.menuMobile {
  position: absolute;
  padding: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0px 0px 24px 24px;
  width: 100%;
  background: #171927;
}

.menuMobile.light {
  background-color: #caf0ff;
}

.menuInnerClosed.light {
  background-color: black;
}
.light.menuInnerClosed:before {
  background-color: black;
}
.light.menuInnerClosed:after {
  background-color: black;
}
.menuInnerOpen1.light {
  background-color: black;
}
.menuInnerOpen1:before.light {
  background-color: black;
}
.menuInnerOpen1:after.light {
  background-color: black;
}
.menuInnerOpen2.light {
  background-color: black;
}
.menuInnerOpen2:before.light {
  background-color: black;
}
.menuInnerOpen2:after.light {
  background-color: black;
}

.boxShadow.light {
  box-shadow: inset 0 0 0 1px black;
}