.container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 3rem;
}

@media (max-width: 900px) {
  .container {
    padding: 5rem 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 3rem 1rem;
  }
}

.cardContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem 0;
}

.buttonContainer {
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
}

